# Splunk Observability
SPLUNK_ACCESS_TOKEN=
SPLUNK_REALM=us1

# For use with otel-collector, set this to "otel-collector:4317"
OTEL_EXPORTER_OTLP_ENDPOINT=collector:4317
# In case you need to supply additional headers
OTEL_EXPORTER_OTLP_HEADERS=

# allows to defined alternative collector endpoints for "cart" and "shipping"
CART_OTEL_EXPORTER_OTLP_ENDPOINT=collector:4317
# for "opentelemetry-javaagent" the url scheme is mandatory, either "http" or "https"
SHIPPING_OTEL_EXPORTER_OTLP_ENDPOINT=http://collector:4317

# [bump]
PROJECT_VERSION=0.1.174
REPOSITORY=instanacedricziel/otel-shop
